.content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 10px 20px;
}

 .text h1{
    max-inline-size: 400px;
    line-height: 1.5;
    padding: 20px;
    font-style: italic;
    color: rgb(149, 44, 44);

 }
 .text button{
    border-radius: 80px;
    padding: 20px;
    background-color: #E5D3B3;
    color: rgb(149, 44, 44);
    font-size: 20px;
    border: none; 
    margin-left: 20px;

 }
 .imagesflex{
    display: flex;
    align-items:stretch;
    justify-content:space-around;
    flex-direction: row;
    flex-wrap: wrap;

 }
 .imagesflex img{
    padding: 10px;
    border-radius: 80px;
    width: 230px;
    height: 400px;
 }
.Terms{
    text-align: justify;
    list-style-position: outside;
    background-color: #E5D3B3;
    color: rgb(149, 44, 44);
   
 }
 .Terms ul{
    margin-left: 30%;
 }
 .Terms h2{
    text-align: center;
    padding: 10px;
 }
 .conditions{
    background-color: #E5D3B3;
    color: rgb(149, 44, 44);
    text-align: center;

 }
 