
h1{
    color: rgb(149, 44, 44);
    text-align: center;
}
.hot-drinks {
    display: flex;
    align-items:stretch;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.hot-drinks img{
    width: 350px;
    height: 300px;
    align-items:center;
}
h2,p{
    color: rgb(149, 44, 44);
    text-align: center;
    font-style: italic;
}
.hot-drinks h2{
    padding: 10px;
}
.Iced-drinks{
    display: flex;
    align-items:stretch;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
.Iced-drinks img{
    width: 340px;
    height: 340px;
    align-items:center;
}
.Frappe{
    display: flex;
    align-items:stretch;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
.Frappe img{
    width: 340px;
    height: 340px;
    align-items:center;
}
.food{
    display: flex;
    align-items:stretch;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
.food img{
    width: 340px;
    height: 300px;
    align-items:center;
}
.coffcafe{
    background-color: #E5D3B3;;
}
.coffcafe img{
   width: 40px;
   height: 40px;
   padding: 20px;
   gap: 20px;
}